body{
    height: 100vh;
    margin: 0;
    background-color: rgb(191, 209, 209);
    
}

#top{
    display: flex;
    margin-top: 0%;
  background-color: rgba(27, 174, 211, 0.9);
  padding: 0;
  height: 20%;
  align-items: center;
}

#logo{
    height: 75px;
    width: 82.5px;
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 6.5px;
}

#clg{
 
    font-size: 120%;
    margin: 10px;
    color: rgb(234, 239, 238);
}

#fac{
    font-size: 130%;
    color: rgb(19, 64, 67);
    display: inline;
    margin-left: 450px;
    margin-right: 22px;
}

#logout{
    height: 50%;
    color: white;
    padding: 10px;
    border-radius: 20px;
    width: 15%;
    background-color: rgb(10, 200, 234);
    border: 1px;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 15px;
    font-size: large;
}

#logout:hover{
     transform: scale(1.05);
     background-color: rgb(108, 225, 246)
     
}
#logout:active{
    background-color: rgb(178, 220, 228);
    color: rgb(3, 39, 48);
    opacity: 0.7;
}
.left {
    margin-top: 0px;
    border-radius: 2px;
    display: flex;
    width: 330px; 
    height: 98%;
    flex-direction: column;
    background-color: rgb(147, 180, 217);
    padding-top: 10px; 
}

.left button {
    width: 100%;            
    padding: 22.5px 30px;      
    background-color: transparent;
    border: none;           
    color: white;            
    text-align: left;        
    font-size: 24px;         
    cursor: pointer;         
    transition: 0.3s;        
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 4px;
}

.left button:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    padding-left: 25px; 
}

.left button:active{
    background-color: rgb(152, 184, 225);
    color: rgb(22, 79, 112);
}
.main{
    display: flex;
    height: 85vh;
    width: 100%;
}

#mainFrame{

    width: 310%;
    height: 100%;
    display: block;
    border: none;
}


